*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    

}

body{
    height: 100%;
    background-color: rgb(210, 210, 250);
}


main{
    display: grid;
    grid-template-areas: 
    "top  top top top top  top top top  "
    "left  grid grid grid grid grid grid right"
    "left  grid grid grid grid grid  grid right"
    "left grid grid grid grid grid  grid right"
    "left  grid grid grid grid grid  grid right"
    " bot  bot bot bot bot bot bot bot"
    ;

    grid-template-columns: 0.9fr repeat(6, 1fr) 5%;
    grid-template-rows: 12% repeat(4, 1fr) 14% ;

    width: 70%;
    margin:auto;
    margin-top: 2%;
    box-shadow: 10px 10px 10px;
    height: 91vh;
    border-radius: 7%;
    background-color: rgb(190, 30, 30);
    border: 10px solid rgba(0, 0, 0, 0.719);
    


   

}
.cells-grid{
    
    grid-area: grid;
    border: 5px solid rgb(212, 205, 205);
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    justify-content: center;
    border-radius: 7px;

    


}


.cell{
    border: 1px solid black;
    
}


.top{
    grid-area: top;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem !important;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 0.3rem;

   
}


.left{
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.right{
    grid-area: right;
   
}

.btn{
    font-size: 1.3rem;
    width: 60%;
    height: 2.4rem;
    border-radius: 8px;
    color: rgb(56, 54, 54);
    cursor: pointer;
    box-shadow: 1px 1px 3px black;
}

.bottom{
    grid-area: bot;
    display: flex;
    flex-direction: column;
    gap: 20%;
    justify-content: center;
    align-items: center; 
}

.btn:hover{
    background-color: rgba(189, 184, 184, 0.767);
}



.section{
    font-size: 2rem;
    color: white;
    
    border-radius: 50%;

}


.range {
    width: 30%;
    height: 18px;
    -webkit-appearance: none;
    background: rgb(137, 37, 37);
    outline: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
  }

  .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #dfc1c1;
    cursor: pointer;
    border: 4px solid #333;
    box-shadow: -407px 0 0 400px #ffffff;
  }